build/

test
test.c
test.py

# ignore sm83 tests for now until a better structure is decided
sm83/

# an example reference
gdb-notes.md

gameboy.so

# copyrighted boot roms, may as well steer clear
bootroms/