
# various test suites
tests/testdata/

# copyrighted roms and bootoms
romlib/

# build targets
build/

# logs
logs/

# python 
__pycache__/
*.pyc
.venv/

# an example reference
gdb-notes.md

# just some scratch space for random short experiments
test
test.c
test.py