
# various test suites
tests/testdata/

# image output for LCD comparison tests
tests/output/

# copyrighted roms and bootroms
romlib/
# save location for bbram
bbram/

# build targets
build/

# logs
logs/

# python
__pycache__/
*.pyc
.venv/

# just some scratch space for random short experiments
scratchpad/

# quick and dirty temporary dev-only IndexedDB inspector
clients/web/debug_db.html
# generated list of roms that can be loaded from server
clients/web/*.json
