:root {
    --lcd-width: 160;
    --lcd-height: 144;

    --clr-background: black;
    --clr-lcd-off: white;

    --clr-border: darkslateblue;
    --clr-border-selected: yellow;

    --clr-sidebar: #1a1a1a;
    --clr-icon-button: rgba(255, 255, 255, 0.35);
    --clr-icon-button-hover: rgba(255, 255, 255, 0.85);

    --sidebar-icon-size: 32px;
    --sidebar-width: 160px;

    --z-index-below: 10;
    --z-index-middle: 20;
    --z-index-above: 30;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#background-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--clr-background);
}

/* LCD stuff including header overlay canvas */

#lcd-container {
    position: relative;
    border: 2px solid var(--clr-border);
    aspect-ratio: var(--lcd-width) / var(--lcd-height);
    max-width: 100%;
    max-height: 100%;
    min-width: calc(var(--lcd-width) * 1px);
    min-height: calc(var(--lcd-height) * 1px);
    margin: 10px;
}

#lcd-container canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

#canvas-lcd {
    background-color: var(--clr-lcd-off);
    z-index: var(--z-index-middle);
}

#canvas-header {
    background-color: rgba(0, 5, 0, 0.92);
    z-index: var(--z-index-above);
    opacity: 0;
    transition: opacity 0.75s ease-out;
    pointer-events: none;
}

#canvas-header.visible {
    opacity: 1;
    transition: opacity 0.15s ease-in;
}

/* Sidebar stuff */

.icon-button {
    width: var(--sidebar-icon-size);
    height: var(--sidebar-icon-size);
    background: transparent;
    border: none;
    color: var(--clr-icon-button);
    cursor: pointer;
    transition: color 0.15s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.icon-button:hover {
    color: var(--clr-icon-button-hover);
}

#sidebar-toggle {
    position: fixed;
    bottom: 4px;
    left: 4px;
    z-index: var(--z-index-above);
}

#sidebar-trigger {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--sidebar-width);
    height: 100%;
    z-index: var(--z-index-below);
}

#sidebar {
    display: flex;
    flex-direction: column;
    padding: 4px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--sidebar-width);
    background: var(--clr-sidebar);
    color: white;
    transform: translateX(-100%);
    transition: transform 0.2s ease-out;
    z-index: var(--z-index-middle);
}

#sidebar.open {
    transform: translateX(0);
}

#sidebar input[type="range"] {
    accent-color: var(--clr-icon-button-hover);
    cursor: pointer;
}

#sidebar-main-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 0;
}

#sidebar-palette-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.palette-select {
    display: flex;
    border: 1px solid var(--clr-border);
}

.palette-select.selected {
    border: 1px solid var(--clr-border-selected);
}

.palette-clr {
    width: calc((var(--sidebar-width) - 40px) / 4);
    height: 16px;
    border: 1px solid var(--clr-border);
}

#sidebar-roms-content {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar-roms-content summary, .rom-leaf {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar-roms-content details:not(.main-node), .rom-leaf {
    margin-left: 10px;
    user-select: none;
}

#sidebar-roms-content .rom-leaf {
    cursor: pointer;
}

#rom-tooltip {
    display: none;
    position: fixed;
    background: var(--clr-sidebar);
    border: 2px solid var(--clr-border);
    padding: 0;
    color: white;
    z-index: var(--z-index-above);
    pointer-events: none;
    white-space: nowrap;
}

#sidebar-footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
    min-height: var(--sidebar-icon-size);
}

#footer-buttons {
    display: flex;
    justify-content: start;
}

#volume-container {
    flex: 0 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: calc(var(--sidebar-icon-size) + 8px);
}

#volume-control {
    height: var(--sidebar-icon-size);
    width: calc(var(--sidebar-width) - var(--sidebar-icon-size) - 10px);
    display: flex;
    align-items: center;
}

#volume-icon {
    cursor: pointer;
}

#volume-slider {
    min-width: 0;
    flex: 1 1 auto;
}

#upload-rom-input {
    display: none;
}
