/* ############################################################################
        Variables and main elements
############################################################################ */

:root {
    --lcd-width: 160;
    --lcd-height: 144;
    --lcd-area-margin: 10px;

    --clr-background: black;
    --clr-lcd-off: white;
    --clr-lcd-info-overlays: 0 5 0;
    --clr-border: darkslateblue;
    --clr-border-selected: yellow;
    --clr-sidebar: #1a1a1a;
    --clr-icon-button: rgba(255, 255, 255, 0.35);
    --clr-icon-button-hover: rgba(255, 255, 255, 0.85);

    --sidebar-icon-size: 32px;
    --sidebar-width: 160px;

    --z-index-sidebar-below: 40;
    --z-index-sidebar-middle: 50;
    --z-index-sidebar-above: 60;

    --z-index-lcd-middle: 20;
    --z-index-lcd-above: 30;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    background-color: var(--clr-background);
}

/* for landscape mode fullscreen */
body:fullscreen #lcd-container {
    border: none;
}
body:fullscreen #sidebar-toggle:not(.fs-visible) {
    display: none;
}

#background-container {
    flex: 1 1 auto;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--clr-background);
}

/* for portrait mode fullscreen */
#background-container:fullscreen #lcd-container {
    border: none;
}

#upload-rom-input {
    display: none;
}

/* ############################################################################
        LCD and its info overlay canvases
############################################################################ */



#lcd-container {
    position: relative;
    border: 2px solid var(--clr-border);

    box-sizing: border-box;
    aspect-ratio: var(--lcd-width) / var(--lcd-height);
    width: min(100% - 2 * var(--lcd-area-margin), (100vh - 2 * var(--lcd-area-margin)) * var(--lcd-width) / var(--lcd-height));
    min-width: calc(var(--lcd-width) * 1px);
    min-height: calc(var(--lcd-height) * 1px);

    margin: var(--lcd-area-margin);
}

#lcd-container canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    pointer-events: none;
}

#canvas-lcd {
    background-color: var(--clr-lcd-off);
    z-index: var(--z-index-lcd-middle);
}

.lcd-overlay {
    background-color: rgb(var(--clr-lcd-info-overlays) / 0.92);
    z-index: var(--z-index-lcd-above);
    opacity: 0;
}

.lcd-overlay.visible {
    opacity: 1;
    transition: opacity 0.15s ease-in;
}

/* For displaying cartridge header info */
.canvas-header {
    transition: opacity 0.75s ease-out;
}

/* For extra overlay info, like during keybind editing */
.canvas-info {
    transition: opacity 0.15s ease-out;
}

/* ############################################################################
        Start of sidebar-related stuff
        Main definitions and trigger / toggle functionality
############################################################################ */

#sidebar {
    display: flex;
    flex-direction: column;
    padding: 4px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--sidebar-width);
    background: var(--clr-sidebar);
    color: white;
    transform: translateX(-100%);
    transition: transform 0.2s ease-out;
    z-index: var(--z-index-sidebar-middle);
}
#sidebar.open {
    transform: translateX(0);
}

#sidebar-trigger {
    flex: 0 0 var(--sidebar-width);
    height: 100%;
    z-index: var(--z-index-sidebar-below);
}

/* Button that toggles sidebar pinned state */
#sidebar-toggle {
    position: fixed;
    bottom: 4px;
    left: 4px;
    z-index: var(--z-index-sidebar-above);
}

/* ############################################################################
        Overall sidebar styling
############################################################################ */

#sidebar-main-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 0;
}

#sidebar input[type="range"] {
    accent-color: var(--clr-icon-button-hover);
    cursor: pointer;
}

#sidebar summary {
    cursor: pointer;
}

.icon-button, a.btn {
    width: var(--sidebar-icon-size);
    height: var(--sidebar-icon-size);
    background: transparent;
    border: none;
    color: var(--clr-icon-button);
    cursor: pointer;
    transition: color 0.15s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.icon-button:hover, a.btn:hover {
    color: var(--clr-icon-button-hover);
}

#sidebar-roms-content, #sidebar-footer {
    border-top: 1px solid var(--clr-border);
}

/* ############################################################################
        Palette section
############################################################################ */

#sidebar-palette-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.palette-select {
    display: flex;
    border: 1px solid var(--clr-border);
}

.palette-select.selected {
    border: 1px solid var(--clr-border-selected);
}

.palette-clr {
    width: calc((var(--sidebar-width) - 40px) / 4);
    height: 16px;
    border: 1px solid var(--clr-border);
}

/* ############################################################################
        Joypad section
############################################################################ */

.joypad-update {
    width: 12px;
    height: 12px;
}

#sidebar-joypad-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0px 8px;
}

.joypad-row {
    display: contents;
}

.joypad-key {
    display: flex;
    justify-content: center;
}

.joypad-key-pill {
    font-size: 0.75em;
    padding: 2px 8px;
    border-radius: 999px;
    background: var(--clr-border);
}

/* ############################################################################
        ROMS sections
############################################################################ */

#sidebar-roms-content {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar-roms-content summary, .rom-leaf {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar-roms-content details:not(.main-node), .rom-leaf {
    margin-left: 10px;
    user-select: none;
}

#sidebar-roms-content .rom-leaf {
    cursor: pointer;
}

#rom-tooltip {
    display: none;
    position: fixed;
    background: var(--clr-sidebar);
    border: 2px solid var(--clr-border);
    padding: 0;
    color: white;
    z-index: var(--z-index-sidebar-above);
    pointer-events: none;
    white-space: nowrap;
}

/* ############################################################################
        Footer with buttons and volume things
############################################################################ */

#sidebar-footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
    min-height: var(--sidebar-icon-size);
}

#footer-buttons {
    display: flex;
    justify-content: start;
}

#volume-container {
    flex: 0 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: calc(var(--sidebar-icon-size) + 8px);
}

#volume-control {
    height: var(--sidebar-icon-size);
    width: calc(var(--sidebar-width) - var(--sidebar-icon-size) - 10px);
    display: flex;
    align-items: center;
}

#volume-icon {
    cursor: pointer;
}

#volume-slider {
    min-width: 0;
    flex: 1 1 auto;
}
